# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build files
dist/
build/
out/

# Editor and system files
.vscode/
.idea/
.DS_Store
Thumbs.db

# MongoDB
data/db/
dump/

# Production files
*.pem
